@import url(variables.css);

*{
    margin: 0;
    padding: 0;
}


.main{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER */

.header{
    display: flex;
    justify-content: end;
    margin-right:20px;
    margin-top:20px;
}

.btn_carrito i{
    font-size: 30px;
    color: black;
}
/* CONTENEDOR DE PRODUCTOS*/


.producto{
    z-index: -1;
    height:78vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 60px;
    flex-wrap: nowrap;
    position:sticky;
}

.cont_productos{
    width: 100%;
    border: 2px solid;
    display: flex;
    align-items: center;
    
}

.box_container{
    display: flex;
    align-items: center;
}


.cont_muestra {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.muestra img{
    border: 2px solid;
    height: 15vh;
    width: 15vh;
}

.img_producto{
    margin-left: 30px;
}
.img_producto img{
    border: 2px solid;
    height: 70vh;
    width: 70vh;
}

.desc_producto{
    margin-left: 30px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc_producto h1{
    font-size: 60px
}
.cont_stars i{
    font-size: 80px;
    font-weight: lighter;
    color: yellow;
}

.desc_producto p{
    width: 500px;
    font-size:1.5em;
    text-align: left;
}

.cont_precio{
    display: flex;
    
}

.cont_precio h4{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: lighter;
}

.box_obtener{
    display: flex;
    flex-direction: column;
}

.box_obtener h2{
    margin-bottom: 20px;
    font-size: 2em;
}

.box_obtener button{
    font-size: 1.5em;
    width: 150px;
}

/* SECCION OBTENER*/

.obtener{
    z-index: 1;
    width: 500px;
    height: 93vh;
    background: aliceblue;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.box_obtener{
    display: flex;
    align-items: center;
    margin: 20px;
}

.box_obtener i{
    color: black;
}
.box_x{
    display: flex;
    align-items: end;
    margin-left: 400px;
    font-size: 50px;
}


.box_ropa{
    border: 2px solid;
}

.box_ropa img{
    height: 60vh;
    width: auto;
}

.text_obtener {
    margin: 20px;
}
.text_obtener h1{
    font-size: 30px; 
}

.text_obtener i{
    font-size: 50px;
}

.precio{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.precio h4{
    margin-left: 50px;
}

.cantidad_boton{
    display: flex;
    justify-content: space-between;
}

.cantidad_boton input{
    width: 250px;
}