<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detalles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>

    <header class="header">
        <div class="btn_carrito">
            <a href="#"><i class='bx bx-cart-add'></i></a>
        </div>
    </header>
    <main class="main">
        <section class="producto" id="producto1"> 
            <div class="cont_productos">
                <div class="box_container">
                    <div class="cont_muestra">
                        <div class="muestra">
                            <img src="/storage/img/camisa1.png">
                        </div>
                        <div class="muestra">
                            <img src="/storage/img/camisa2.png">
                        </div>
                        <div class="muestra">
                            <img src="/storage/img/camisa3.png">

                        </div>
                        <div class="muestra">
                            <img src="/storage/img/camisa4.png">
                        </div>
                    </div>
                    <div class="img_producto">
                        <img src="/storage/img/camisa5.png">
                    </div>
                    <div class="desc_producto">
                        <div class="box_producto">
                            <h1>Nombre del producto</h1>
                            <div class="cont_stars">
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                                <i class='bx bxs-star' ></i>
                            </div>
                        </div>
                        
                        
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto distinctio, est reprehenderit sit officiis quisquam obcaecati iure maiores in aut facilis, voluptates illo atque accusamus? Aperiam optio fugiat provident inventore!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto distinctio, est reprehenderit sit officiis quisquam obcaecati iure maiores in aut facilis, voluptates illo atque accusamus? Aperiam optio fugiat provident inventore!
                        </p>
                        <div class="cont_precio">
                            <div class="box_obtener">
                                <h2>$ 100.000</h2>
                                <button>Obtener</button>
                            </div>
                            <h4>$99.99</h4>    
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="detalles">
            <div class="box_top">
                <h1>Detalles</h1>
                <a href="/index.html"><i class='bx bx-x'></i></a> 
            </div>
            
            <div class="contenedor_datos">
                <div class="container">
                    <div class="box_img">
                        <img src="/storage/img/camisa1.png">
                    </div>
                    <div class="box_nombre">
                        <h3>Nombre del producto</h3>
                        <input type="number" name="cantidad" min="1" max="100" placeholder="1"> 
                    </div>
                    <div class="box_precio">
                        <h3>$ 500.000</h3>
                    </div>
                    <div class="button_exit">
                        <i class='bx bx-x'></i>
                        <small>$499.95</small>
                    </div>
                </div>
                <div class="container">
                    <div class="box_img">
                        <img src="/storage/img/camisa1.png">
                    </div>
                    <div class="box_nombre">
                        <h3>Nombre del producto</h3>
                        <input type="number" name="cantidad" min="1" max="100" placeholder="1"> 
                    </div>
                    <div class="box_precio">
                        <h3>$ 500.000</h3>
                    </div>
                    <div class="button_exit">
                        <i class='bx bx-x'></i>
                        <small>$499.95</small>
                    </div>
                </div>
                <div class="container">
                    <div class="box_img">
                        <img src="/storage/img/camisa1.png">
                    </div>
                    <div class="box_nombre">
                        <h3>Nombre del producto</h3>
                        <input type="number" name="cantidad" min="1" max="100" placeholder="1"> 
                    </div>
                    <div class="box_precio">
                        <h3>$ 500.000</h3>
                    </div>
                    <div class="button_exit">
                        <i class='bx bx-x'></i>
                        <small>$499.95</small>
                    </div>
                </div>
            </div>
            <div class="box_total">
                <h1>Total</h1>
                <div class="box_totalPagar">
                    <h2>$ 1.999.8</h2>
                    <button>Pagar</button>
                </div>
            </div>
            
        </section>
    </main>
</body>
</html>